/* one css file can be used for multiple html files but I personally may split it */
body {
    background-color: oldlace;
    color: #333;
}

h1 {
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.fancy-pants {
    font-size: 20px;
    text-align: center;

}

h2 {
    font-size: 30px;
    font-family:'Lucida Sans', Geneva, sans-serif;
    text-align: center;
}

p {
    font-size: 18px;
    font-style:italic;
}

ol {
    margin: 20px;
    padding: 20px;
}

/* Styles for the ID & Class section */
nav#nav-bar {
    font-size: 15px;
    background: rgb(136, 112, 112);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
}

h4 {
    font-size: 15;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:grey;
    background-color: whitesmoke;
    border: solid 10px #333;
    padding: 20px;
}

/* styles for the grouping selector section
just seperate thing that you want to look the same by a ,*/

/* below shows how to center everything to the middle of the browser and it will adjust with the browser. 
auto means the browser will determine its own equal middle. */
div#mainContainer {
    margin: 0 auto;
    padding: 0 0 10px;
    width: 960px;
}